<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <div class="input">
            <form action="/" method="post">
                <label for="cityInput">City Name:</label>
                <input type="text" name="cityName" id="cityInput">
                <button type="submit">Go</button>
            </form>
        </div>
        <div class="heading">
            <h1>
                The temperature in <%= sendData.location %> is <%= sendData.temp %> degrees Celcius.
            </h1>
        </div>
        <div class="desc">
            <p>
                The weather is currently <%= sendData.desc %>
            </p>
        </div>
        <div class="image">
            <img src=" <%= sendData.imageURL %> " alt="">
            <p>
                <%= sendData.location %>
            </p>
            <img src=" <%= sendData.imageURL %> " alt="">
        </div>
    </div>

</body>

</html>